<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <title>Mbarek Dev Home Company</title>
</head>
<body>
<h2>Mbarek Dev Home Page Yohooo</h2>
<hr>

<p>Welcome Home Page!</p>

<p>
    User : <span sec:authentication="principal.username"></span>
    <br>
    Role(s) : <span sec:authentication="principal.authorities"></span>
</p>

<hr>
<!-- Link to /leaders -->
<p>
    <a th:href="@{/leaders}">Leadership Meeting</a>
    (only for Manager peeps)
</p>

<hr>
<!-- Logout button -->
<form th:action="@{/logout}" method="post">
    <input type="submit" value="Logout"/>
</form>
</body>
</html>
