<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Hello World Form</title>
</head>
<body>
<h2>Form Example</h2>

<!-- Make sure the action URL matches your controller mapping -->
<!-- Submits the form to the controller method via GET -->

<form th:action="@{/processFormVersionThree}" method="POST">
    Student Name: <input type="text" name="studentName"/>
    <input type="submit" value="Submit"/>
</form>

<!-- <form th:action="@{/processFormVersionTwo}" method="GET">
     <form th:action="@{/processFormVersionThree}" method="GET">  -->

</body>
</html>
